# Python virtual environment
**/venv/
Backend/venv/

# Model weights and output files
*.pt
*.weights
*.h5
Models/
runs/
Results/
Video Output/
*data
*data2
*data3

# IDE, OS, and temp files
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
*.log
*.bak
*.tmp
*.cache

# Node.js dependencies (if any)
Frontend/static/node_modules/
